body {
  text-align: center;
  background-color: #11999E;
}

#title {
  font-family: 'Press Start 2P';
  font-size: 3rem;
  margin:  5%;
  color: #6E3CBC;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid #072227;
  border-radius: 25%;
}

.game-over {
  background-color: #FFBD35;
  opacity: 0.8;
}

.purple {
  background-color: #502064;
}

.ite {
  background-color: #DD4A48;
}

.brown {
  background-color: #86340A;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px #E4F9F5;
  background-color: grey;
}

footer {
  font-family: sans-serif;
  margin: 20px;
  color: #072227;
}
